name: Go Version Checker

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:


jobs:
  go-version-checker:
    runs-on: ubuntu-latest
    env:
      SHELL: /bin/bash

    steps:
      - name: Install the JQ package
        run: sudo apt-get install jq -y

      - name: Clone the telco-bot repository
        uses: actions/checkout@v5

      - name: Check if XCRYPTO_LOOKUP_GITHUB_TOKEN secret exists
        run: |
          if [ -z "${{ secrets.XCRYPTO_LOOKUP_GITHUB_TOKEN }}" ]; then
            echo "Error: XCRYPTO_LOOKUP_GITHUB_TOKEN secret is not set."
            exit 1
          fi

      - name: Login to gh cli tool
        run: echo "$GO_VERSION_GITHUB_TOKEN" | gh auth login --with-token
        env:
          GO_VERSION_GITHUB_TOKEN: ${{ secrets.XCRYPTO_LOOKUP_GITHUB_TOKEN }}

      - name: Run the go-version-checker script
        run: |
          echo "Running go-version-checker script"
          ./scripts/go-version-checker.sh

